<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appLighter]="color" defaultColor="violet">Highlight me!</p>

<p [appLighter]="color" ngNonBindable>tested {{1+1}}</p>


<!-- toggle the "special" class on/off with a property -->
<!-- <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div> -->

<!-- <div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special.</div> -->