<p>localdb works!</p>
<!-- <ul>
    <li *ngFor="let item of items">{{ item.name }}</li>
</ul> -->


<div class="d-flex justify-content-center">
    <button class="btn btn-success me-2 text-center" (click)="getAPI()">Get API</button>
    <button class="btn btn-primary me-2 text-center" (click)="putAPI()">Put API</button>
    <button class="btn btn-warning me-2 text-center" (click)="postAPI()">Post API</button>
    <button class="btn btn-danger me-2 text-center" (click)="delAPI()">Delete API</button>
</div>



<div class="" *ngIf="items">
    <pre>{{items | json}}</pre>
    <!-- <ul>
        <li *ngFor="let item of items">{{ item.id }}</li>
    </ul> -->
</div>