<header class="header">
    <div class="container">
      <div class="logo">
        <img src="https://cdn.pixabay.com/photo/2019/12/14/07/21/mountain-4694346_1280.png" alt="logo">
        <figcaption>Adventure</figcaption>
      </div>
      <div class="logo-name">
        <h1 class="name-web">Adventure</h1>
      </div>
      <div>
        <nav class="navigation">
          <div class="nav-item"><a href="#">Home</a></div>
          <div class="nav-item"><a href="#">About Us</a></div>
          <div class="nav-item"><a href="#">Contact</a></div>
          <div class="nav-item"><a href="#" class="logOut">Log Out</a></div>
        </nav>
      </div>
    </div>
  </header>