<div class="d-flex justify-content-center w-60 mt-2 mb-2">
    <button class="btn btn-danger me-2" (click)="changeGraph('bar')">Bar</button>
    <button class="btn btn-info me-2" (click)="changeGraph('line')">Line</button>
    <button class="btn btn-success me-2" (click)="changeGraph('pie')">Pie</button>
    <button class="btn btn-warning me-2" (click)="changeGraph('scatter')">Scatter-Plot</button>
    <button class="btn btn-dark me-2" (click)="changeGraph('doughnut')">Doughnut</button>
    <button class="btn btn-primary me-2" (click)="changeGraph('radar')">Radar</button>
    <button class="btn btn-secondary me-2" (click)="changeGraph('polarArea')">Polar-Area</button>
    <button class="btn btn-light" (click)="changeGraph('bubble')">Bubble</button>
</div>

<div class="chart-container card align-items-center w-90" style="min-height: 70vh;">
    <canvas class="card" id="MyChart"></canvas>
</div>