<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<button routerLink="/homepage/table">Table</button>
<div class="card">
  <p-table 
      #dt1 
      [value]="products" 
      [paginator]="true" 
      [rows]="10" 
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]" 
      [loading]="loading" 
      dataKey="id"
      styleClass="p-datatable-striped"
      [globalFilterFields]="['id', 'employee_name', 'employee_salary', 'employee_age']">

      <ng-template pTemplate="caption">
          <div class="d-flex justify-content-end align-items-center">
              <span class="p-input-icon-left ml-auto">
                  <input pInputText type="text" class="search-box" (input)="dt1.filterGlobal(($any($event.target).value), 'contains')" placeholder="Search keyword" />
              </span>
              <a role="button" pButton class="pi pi-filter-slash p-button-outlined ms-2"
                  (click)="clear(dt1)"></a>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
      <tr>
          <th style="min-width:15rem" pSortableColumn="id">
              <div class="flex align-items-center">
                  Id <p-sortIcon field="id"></p-sortIcon>
                  <p-columnFilter type="numeric" field="id" display="menu"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:15rem" pSortableColumn="employee_name">
              <div class="flex align-items-center">
                  Employee Name <p-sortIcon field="employee_name"></p-sortIcon>
                  <p-columnFilter type="text" field="employee_name" display="menu"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:15rem" pSortableColumn="employee_salary">
              <div class="flex align-items-center">
                  Employee Salary <p-sortIcon field="employee_salary"></p-sortIcon>
                  <p-columnFilter type="text" field="employee_salary" display="menu"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:10rem" pSortableColumn="employee_age">
              <div class="flex align-items-center">
                  Employee Age <p-sortIcon field="employee_age"></p-sortIcon>
                  <p-columnFilter type="text" field="employee_age" display="menu"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:5rem">
        </th> 
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.employee_name }}</td>
              <td>{{ product.employee_salary | currency:'INR'}}</td>
              <td>{{ product.employee_age }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary" mat-button (click)="openDialog(product)">More</button>
                </td>
          </tr>
      </ng-template>
  </p-table>
</div>